<section class="allContacts">
	<h2><span>Check out all your contacts!</span></h2>
	<ul>
		<% if @contact %>
		<% @contacts.each do |contact| %>
	 	<li>
	 		<img class="get_started_icon" src="../User-Profile-128.png">
	 		<a href="/contacts/<%= contact.id %>"><span>Name:</span> <%= contact.first_name %> <%= contact.last_name %> </a></br><span>Email:</span> <%= contact.email %> </br><span>Note:</span> <%= contact.note %>
	 	</li>
	 	<% end %>
	 	<% else %>
	 	<p>Whoops! Looks like you don't have any.</p>
	 	<% end %>
		
	</ul>
</section>





